body {
    font-family: 'Roboto', sans-serif;
    background-color: #1a1a1a; /* Cinza escuro */
    color: #e0e0e0; /* Cinza claro para contraste */
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.main-logo {
    max-width: 200px;
}

.secondary-logo {
    max-width: 150px;
    margin: 20px 0;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #00aaff; /* Azul tecnológico */
    text-transform: uppercase;
    margin-bottom: 10px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #cccccc;
}

.styled-button {
    background-color: #00aaff;
    border: none;
    padding: 15px 30px;
    color: white;
    font-size: 1rem;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.styled-button:hover {
    background-color: #0088cc;
    transform: scale(1.05);
}

.privacy-link {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #00aaff;
    font-weight: 300;
}

.privacy-link:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    margin-top: 50px;
    color: #888888;
}

.slogan {
    max-width: 150px;
    margin-bottom: 20px;
}
